<template>
    <div id="wrapper">
        <div class="container-slider">
            <slider
                    animation="fade"
                    :control-btn="false"
                    :indicators="false"
                    :interval="5000"
                    :speed="2500"
                    height="100%"
            >
                <slider-item
                        v-for="(i, index) in list"
                        :key="index"
                        :style="{width: '100%',height: '100%', backgroundImage: `url(${i})`}"
                >
                </slider-item>
            </slider>
        </div>

        <div class="content">
            <div class="time">
                <div class="content-left">
                    <h3>{{date}}</h3>
                    <h2>{{dayOfWeek}}</h2>
                </div>
                <div class="content-right">
                    <h1>{{hour}}</h1>
                </div>
            </div>
            <div class="notification">
                <div class="info">
                    <notifications
                            group="info"
                            position="bottom center"
                            width="100%"
                            :max="6"
                            :duration="7000"
                            animation-type="velocity"
                    >
                        <template slot="body" slot-scope="props">
                            <div class="title">
                                <div class="class">

                                    <img :src="require(`../assets/grade${props.item.data.GRADE_NO}.png`)" alt="">
                                    <p>{{`Class ${props.item.data.CLASS_NAME}`}}</p>

                                </div>
                                <div class="code">
                                    <img :src="require(props.item.data.SEX === 1 ? '../assets/ico_female.png' : '../assets/ico_male.png') "
                                         alt="">
                                    <p>{{props.item.data.STD_ID}}</p>
                                </div>
                            </div>
                            <div class="name">
                                <p>{{props.item.data.NAME}}</p>
                            </div>
                        </template>
                    </notifications>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Vue from 'vue'
    import {NFC} from 'nfc-pcsc'
    import {Slider, SliderItem} from 'vue-easy-slider'
    import axios from 'axios'
    import moment from 'moment'
    import {API_KEY, URL_IMAGE, URL_INFO, URL_SPEECH, VOICE} from "../constants";

    moment.locale('vi');


    export default {
        name: 'landing-page',
        components: {
            Slider,
            SliderItem,
        },
        data() {
            return {
                nfc: null,
                uuid: '',
                list: [],
                dayOfWeek: moment().day(new Date().getDay()).format('dddd'),
                hour: moment(new Date().getTime()).format('HH:mm'),
                date: moment(new Date()).format("DD. MM. YYYY"),
                sayHello: [
                    'Xin chào!',
                    "Chào mừng!",
                    'Hoan nghênh!',
                    'Chào đón!',
                ],
                selectedHello: '',
            }
        },

        async mounted() {

            const listBackground = await axios.post(URL_IMAGE, {TERMINAL_ID: 1})
            if (listBackground) {
                this.list = listBackground.data.ADImageList
            }

            const nfc = new NFC()
            nfc.on('reader', reader => {
                reader.on('card', async card => {

                    // example reading 12 bytes assuming containing text in utf8
                    try {
                        const data = await axios.post(URL_INFO, {UUID: card.uid})
                        const res = data.data
                        if (res) {
                            const idx = await Math.floor(Math.random() * this.sayHello.length);
                            this.selectedHello = this.sayHello[idx]

                            const options = {
                                method: 'POST',
                                headers: {
                                    'content-type': 'application/x-www-form-urlencoded',
                                    'api-key': API_KEY,
                                    'voice': VOICE,
                                },
                                data: this.selectedHello + res.NAME,
                                url: URL_SPEECH,
                            };
                            const txtToSpeech = await axios(options);
                            txtToSpeech && new Audio(txtToSpeech.data.async).play()

                            this.$notify({
                                group: 'info',
                                data: res
                            });

                            Vue.toast(`${this.selectedHello}`, {
                                    id: 'say-hello',
                                    horizontalPosition: 'center',
                                    verticalPosition: 'bottom',
                                    duration: 7000,
                                }
                            )
                        }

                    } catch (err) {
                        console.error(`error when reading data`, err)
                    }
                })

                reader.on('error', err => {
                    console.log(`${reader.reader.name}  an error occurred`, err)
                })

                reader.on('end', () => {
                    console.log(`${reader.reader.name}  device removed`)
                })
            })

            nfc.on('error', err => {
                console.log('an error occurred', err)
            })
        }
    }
</script>

<style lang="scss" scoped>

    @mixin left {
        width: 50%;
        float: left;
        @content
    }

    @mixin notification-title {
        @include left;
        color: #1F3040;
        display: flex;
        align-items: center;
        @content;
        p {
            margin-left: 17px;
        }
    }

    @mixin position-notify {
        position: absolute;
        @include content-center;
        @content
    }

    @mixin content-center {
        display: flex;
        align-items: center;
    }

    $font-size-30px: 30px;
    $font-size-36px: 36px;
    $font-size-44px: 44px;
    $font-size-48px: 48px;
    $font-size-144px: 144px;
    $font-size-65px: 65.65px;


    #wrapper {
        height: 100vh;
        background-color: aliceblue;

        .container-slider {
            position: relative;
            z-index: 0;
            height: 100%;
            left: 0;
            top: 0;
        }

        .content {
            position: absolute;
            z-index: 1;
            height: 100%;
            width: 100%;
            top: 0;
            padding: 40px;
            color: #FFFFFF;

            .time {
                height: 205px;
                padding: 0 50px 18px 50px;
                @include content-center;

                .content-left {
                    @include left;

                    h3 {
                        font-size: $font-size-44px;
                        font-weight: bold;
                    }

                    h2 {
                        font-size: 80px;
                        text-transform: uppercase;
                        font-weight: bold;
                    }

                }

                .content-right {
                    @include left {
                        @include content-center;
                    }

                    h1 {
                        margin-left: auto;
                        font-size: $font-size-144px;
                        font-weight: bold;
                    }
                }
            }

            .notification {
                height: 90%;
                position: relative;

                .info {
                    .notifications {
                        @include position-notify {
                            bottom: 200px !important;
                        }

                        ::v-deep {
                            span {
                                width: 100%;

                                .notification-wrapper {
                                    width: 100%;
                                    height: 200px;
                                    background: #FFFFFF 0% 0% no-repeat padding-box;
                                    border: 1px solid #BAC2C8;
                                    border-radius: 25px;
                                    opacity: 0.9;
                                    color: black;
                                    padding: 25px 40px;
                                    margin-top: 20px;

                                    .title {
                                        height: 54px;
                                        display: flex;

                                        .class {
                                            @include notification-title {
                                                font-size: $font-size-36px;
                                            }
                                        }

                                        .code {
                                            @include notification-title {
                                                font-size: $font-size-30px;
                                            }
                                        }
                                    }

                                    .name {
                                        @include content-center;
                                        height: 100px;
                                        font-size: $font-size-65px;
                                        color: #1F3040;
                                        letter-spacing: -3.28px;
                                        font-weight: bold;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
</style>
