<template>
  <div id="app">
    <router-view></router-view>
  </div>
</template>

<script>
  export default {
    name: 'kiosk'
  }
</script>

<style lang="scss">
  @import url('https://fonts.googleapis.com/css?family=Roboto');
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
  }

  #say-hello {
    justify-content: center;
    max-width: 900px;
    width: 900px;
    height: 120px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #BAC2C8;
    border-radius: 60px;
    opacity: 0.6;
    color: black;
    padding: 25px 40px;
    font-size: 48px;
    font-weight: bold;
    bottom: 40px;
  }
</style>
